@font-face {
  font-display: swap;
  font-family: 'Integral';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/IntegralCF-Bold.woff') format('woff'),
    url('../fonts/IntegralCF-Bold.woff2') format('woff2'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

@font-face {
  font-display: swap;
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Satoshi-Regular.woff') format('woff'),
    url('../fonts/Satoshi-Regular.woff2') format('woff2'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
@font-face {
  font-display: swap;
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Satoshi-Bold.woff') format('woff'),
    url('../fonts/Satoshi-Bold.woff2') format('woff2'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
