.slick-arrow {
  border-top: 3px solid #000;
  border-left: 3px solid #000;
  transition: border 0.2s ease;

  top: auto;
  bottom: -45px;
  z-index: 100;

  &:hover {
    border-color: rgba(0, 0, 0, 0.3);
  }
}
.slick-prev {
  transform: rotate(-45deg);
  left: calc(50% - 80px);

  &::before {
    content: none;
  }
}
.slick-next {
  transform: rotate(135deg);
  right: calc(50% - 80px);

  &::before {
    content: none;
  }
}
.slick-dots {
  bottom: -40px;
}
.slick-dots li {
  width: auto;
  height: auto;

  & button {
    width: 8px;
    height: 8px;
    background: #f0eeed;
    border-radius: 50%;
    padding: 0;

    &::before {
      content: none;
    }
  }
  &.slick-active {
    & button {
      background: #000;
    }
  }
}

.slider-container {
  padding-bottom: 50px;
}

.slick-track {
  display: flex;
  gap: 20px;
}

@media (min-width: 640px) {
  .slick-arrow {
    top: -60px;
  }
  .slick-prev {
    left: auto;
    right: 45px;
  }
  .slick-next {
    right: 0;
  }
}

@media (min-width: 1024px) {
  .slick-arrow {
    top: -105px;
  }
}
