@import './assets/scss/normalize.scss';
@import './assets/scss/fonts.scss';
@import './assets/css/bundle.css';
@import 'slick-carousel/slick/slick.scss';
@import 'slick-carousel/slick/slick-theme.scss';
@import './assets/scss/slick.scss';

body {
  font-family: 'Satoshi', sans-serif;
  font-size: 16px;
  line-height: 1.3;
}
html {
  &.scroll-hidden {
    overflow: hidden;
  }
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.rccs__name,
.rccs__number,
.rccs__expiry__value {
  font-family: inherit;
}
.rccs__name {
  font-size: 16px;
}
.rccs__number {
  letter-spacing: 2px;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-family: 'Integral', sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.wrapper {
  padding: 50px 0;
}

@media (min-width: 1024px) {
  .container {
    max-width: 1290px;
    padding: 0 25px;
  }
  .title {
    font-size: 48px;
  }
  .wrapper {
    padding: 72px 0;
  }
  html {
    &.scroll-hidden {
      overflow: auto;
    }
  }
}
